body
{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: grey;
}
.intro
{
    text-align: center;
    font-weight: bolder;
}

.outer
{
    border-radius: 30px;
    margin-top: 100px;
    box-shadow: 2px 2px 10px;
    padding: 50px;
    position: relative;
    width:fit-content;
    background-color: black;
    animation-name: animation0;
    animation-duration: 3s;
    animation-iteration-count: 1;
}
.intro div
{
    width: 0px;
    height: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation-name: animation2;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
    position: absolute;
    left: 42%;
    top: 20px;

}
.intro p
{
    
    font-size: 0px;
    color: rgba(0, 0, 0, 0);
    animation-name: animation3;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
    position: absolute;
    left: 28%;
    top: 260px;
}
.input
{
    width: 300px;
    height:50px;
    border-radius: 30px;
    font-size: 45px;
    text-align: center;
    margin-bottom: 25px;
    border: none;
    background-color: black;
    color: white;
    animation-name: animation1;
    animation-duration: 3s;
    animation-iteration-count: 1;
}
.row1
{
    display: flex;
    justify-content: right;
    font-size: 30px;
    animation-name: animation1;
    animation-duration: 3s;
    animation-iteration-count: 1;
}
.row
{
    display: flex;
    justify-content: space-evenly;
    animation-name: animation1;
    animation-duration: 3s;
    animation-iteration-count: 1;
}
button
{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
    background-color: gray;
    color: white;
    animation-name: animation1,animation4;
    animation-duration: 3s;
    animation-iteration-count: 1;
}
button:active
{
    background-color: gainsboro;
}
button:hover
{
    color:darkgrey;
}
.symbol
{
    background-color:darkgoldenrod;
}
.clear
{
    background-color:darkcyan ;
}
.equal
{
    background-color: green;
}
@keyframes animation0
{
    0%
    {
        background-color:rgba(255, 255, 255, 0);
        box-shadow: 0px 0px 0px;
        color: gray;
        margin-top: 100px;
    }
    79%
    {
        margin-top: 100px;
    }
    80%
    {
        background-color:rgba(255, 255, 255, 0);
        box-shadow: 0px 0px 0px;
        color: grey;
        margin-top: -10px;
    }
    100%
    {
        margin-top: 100px;
    }
}
@keyframes animation1
{
    0%
    {
        background-color:rgba(255, 255, 255, 0);
        box-shadow: 0px 0px 0px;
        color: gray;
    }
    80%
    {
        background-color:rgba(255, 255, 255, 0);
        box-shadow: 0px 0px 0px;
        color: grey;
    }
    100%
    {
    }
}
@keyframes animation2
{
    0%
    {
        background-image: url(./My\ project\ \(1\).png);
        width: 300px;
        height: 300px;
    }
    80%
    {
        background-image: url(./My\ project\ \(1\).png);
        transform: scale(1);
    }
    100%
    {
        background-image: url(./My\ project\ \(1\).png);
        width: 300px;
        height: 300px;
        transform: scale(50);
    }
}
@keyframes animation3
{
    0%
    {
        text-shadow: 2px 2px 5px black;
        color: black;
        font-size: 120px;
    }
    80%
    {
        text-shadow: 2px 2px 5px black;
        color: black;
        font-size: 120px;
    }
    90%
    {
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
        color: rgba(0, 0, 0, 0);
        font-size: 120px;
    }
    100%
    {
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
        color: rgba(0, 0, 0, 0);
        font-size: 120px;
    }
}
@keyframes animation4
{
    0%
    {
        margin: 200px;
    }
    80%
    {
        margin: 200px;
    }
    100%
    {
        margin: 10px;
    }
}